.header_home{
    /*float: left;
    width: 100%;
    background-color: gray;*/
    background-color: lightgray;
    float: left;
    text-align: center;
    font-size: 180%;
    margin: 1% -1.8% 1% 0%;
    padding: 0 160px 0 108px;
    width:13.6%;
    height: 60px;
}
.username{
	float: left;
	list-style-type: none;
	margin: 0% 0% 0% 70%;
}
.logout{
	list-style-type: none;
	float: right;
	margin: 2% 2% 2% 0%;
	text-decoration: none;
}
.image{
	float: right;
	width: 17%;
	height: 215px;
	margin: 1%;
}
.buttons{
	float: right;
	margin-top: 18%;
	margin-right: -21%;
}
.profile_picture{
	float: right;
	margin: 1% 2% 0%;
	height:207px;
	width:17%;
}
#home_header a{
	text-decoration: none;
}
#home_header{
	width:100%;
	margin-top: -1%
}
.profilepage_div{
	float: left; 
	margin: 0% 0% 0% 19%;
}
.profilepage_fieldset{
	background-color: snow; 
	margin:7%
}
.profilepage_legend{
	background-color: white;
}