<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<label class="signup_tag" for="signup">Sign Up</label>
			<div class = "signup_form_1">
				<form role="form" action="/signup" method = "POST">
				    <!-- field for Name of user -->
					<div class="form-group">
						<label for="name">Name:</label>
						<input type="text" class="form-control" id="name" name = "name" placeholder="Enter name">
					</div>
					<!-- field for username of user -->
					<div class="form-group">
						<label for="username">Username:</label>
						<input type="username" class="form-control" id="username" name = "username" placeholder="Enter username">
					</div>
					<!-- field for password of user -->
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" name = "password" class="form-control" id="password" placeholder="Enter password">
					</div>
					<!-- field for reenter password of user -->
					<div class="form-group">
						<label for="reenterpassword">Re-enter Password:</label>
						<input type="password" name = "reenterpassword" class="form-control" id="reenterpassword" placeholder="Re-Enter password">
					</div>
					<!-- field for age of user -->
					<div class="form-group">
						<label for="age">Age:</label>
						<input type="number" min = "18" max = "70" name = "age" class="form-control" id="age" placeholder="Enter age">
					</div>
					<!-- radio buttons for gender of user -->
					<div class="form-group">
						<label for="gender">Gender:</label><br>
						<label class="radio-inline"><input type="radio" value = "male" name="sex" checked>Male</label>
						<label class="radio-inline"><input type="radio" value = "female" name="sex">Female</label>
					</div>
					<!-- checkbox for skills of user -->
					<div class="form-group">
						<label for="skills">Skills:</label><br>
						<label class="checkbox-inline">
							<input type="checkbox" name = "Skills" value = 'C'>C
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name = "Skills" value = 'C++'>C++
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name = "Skills" value = 'JAVA'>JAVA
						</label>
						<label class="checkbox-inline">
							<input type="checkbox" name = "Skills" value = 'PHP'>PHP
						</label>
					</div>
					<!-- select menu for stream of user -->
					<div class="form-group">
						<label for="stream">Stream:</label><br>
						<select class="form-control" name = "branch">
						    <option name = "stream" value="Electronics and communication Engineering">Electronics and communication Engineering</option>
						    <option name = "stream" value="Computer Science Engineering">Computer Science Engineering</option>
						    <option name = "stream" value="Electrical Engineering">Electrical Engineering</option>
						    <option name = "stream" value="Mechanical Engineering">Mechanical Engineering</option>
						</select>
					</div>
					<!-- field for contact number of user -->
					<div class="form-group">
						<label for="contactnumber">Contact Number:</label>
						<input type="text" name = "contactnumber" class="form-control" id="contactnumber" placeholder="Enter mobile number">
					</div>
					<!-- field for email of user -->
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="text" name = "email" class="form-control" id="email" placeholder="Enter email">
					</div>
					<button type="submit" class="btn btn-default" style="margin: 0 0 0 34%;">Submit</button>
				</form>
			</div>
		</div>
	</body>
</html>